<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Košarica - Citadel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/images/castle.png">
            <!-- linkam stilove za stolna racunala, tj desktop computers-->
        <link href="/styles/stolna-racunala.css" rel="stylesheet" >
            <!-- linkam stilove za prijenosna racunala, ukoliko je velcina ekrana manja ili jednaka 1023, tj ako je < 1024px -->
        <link href="/styles/prijenosna-racunala.css" rel="stylesheet" media="screen and (max-width: 1023px)">
        <script src="/scripts/cart.js" defer></script>
    </head>
    <body>

        <%- include(`partials/header2`); %>

        <!-- dio koji predsatvlja sadrzaj kosarice -->
        <div class="dio-sa-kosaricom">
            <div class="k-zajednicki-spremnik">
                <div id="cart_prod">
                    <% if(cart.length == 0){ %>
                        <div id="emptyT">
                            <h2>Košarica je prazna!</h2>
                        </div>
                    <%} else { %> 
                    <div id="left_cart">
                      <div id="name_products">
                            Products:
                      </div>
                      <div id="cart_names">
                            <% cart.forEach(pr => { %>
                                <% if (pr.col != 0){ %>
                                <div id="prod">
                                    <h3 id="name_p"> <%= pr.name %> </h3>
                                </div>
                                <% } %>
                            <% }) %>
                      </div>
                    </div>
                    <div id="right_cart">
                        <div id="cart_quantity">
                            Quantity:
                        </div>
                        <div id="cart_col">
                            <% cart.forEach(pr => { %>
                                <% if (pr.col != 0){ %>
                                <div id="buttons">
                                    <form method="POST" action="/cart/remove/<%= pr.id %>">
                                        <button class="gumb" type="submit"><i class="bi bi-dash-circle">-</i></button>
                                    </form>
                                    <div id="<%= pr.id %>" class="quan"><%= pr.col %> </div>
                                    <form method="POST" action="/cart/add/<%= pr.id %>">
                                        <button class="gumb" type="submit"><i class="bi bi-plus-circle">+</i></button>
                                    </form>
                                </div>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>    
        </div>

        <%- include(`partials/footer`); %>
    </body>
</html>